
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="example">
    <div id="grid"></div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            datatype: 'json',
                            type: 'get',
                            url: '/Employee/GetEmployeeData',
                            contentType: 'application/json; charset=utf-8',
                        }
                    },
                    schema: {
                        data: function (result) {
                            return result;
                        },
                        model: {
                            fields: {
                                EmpId: { type: "int" },
                                EmployeeName: { type: "string" },
                                BirthDate: { type: "date" },
                                HireDate: { type: "date" },
                                Gender: { type: "char" },
                                MaritalStatus: { type: "char" },
                                Email: { type: "string" },
                                PhoneNumber: { type: "string" },
                            }
                        }
                    },
                    pageSize: 10
                },
                height: 550,
                scrollable: true,
                sortable: true,
                filterable: true,
                pageable: {
                    input: true,
                    numeric: false
                },
                columns: [
                    { field: "EmpId", title: "EmpId" },
                    { field: "EmployeeName", title: "EmployeeName" },
                    { field: "BirthDate", title: "BirthDate" },
                    { field: "HireDate", title: "HireDate" },
                    { field: "Gender", title: "Gender" },
                    { field: "MaritalStatus", title: "MaritalStatus" },
                    { field: "PhoneNumber", title: "PhoneNumber" },
                ]
            })
        })
    </script>
    }